.tooltip {
  --bs-tooltip-bg: #198754;
  --bs-tooltip-color: #fff;
  --bs-tooltip-opacity: 1;
  font-size: 0.7rem;
  padding: 0 1.875rem;
  border-radius: 0.375rem;
  margin-bottom: 0.2rem !important;
}

/* Optional: Customize the tooltip arrow */
.tooltip .tooltip-arrow::before {
  border-top-color: #198754 !important;
}

.remove-tooltip {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.remove-tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  position: absolute;
  z-index: 1000;
  left: 160%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.remove-tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #dc3545 transparent transparent;
}

.remove-tooltip:hover .remove-tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 517px) {
  .product-modal .alert-light .info-text {
    font-size: 0.9rem !important;
  }

  .product-modal .alert-light .total-info {
    font-size: 0.8rem !important;
  }
}
